*~
node_modules/
/lib/
/integrations/docusaurus-theme/lib/
.docusaurus/
*.tsbuildinfo
yarn-error.log
/cypress/
*.egg-info/
__pycache__/
_version.py
dist/
/integrations/mdbook/target/

/examples/mdbook/book/
/examples/mdbook/theme/head.hbs
/examples/mdbook/docslabl.js
/examples/mkdocs/site/
/examples/sphinx/build/
/examples/docusaurus/build/
